.mainPanel {
    background-color: rgb(30, 148, 208);
    opacity: 0.8;
    padding: 1px 1px 1px 5px;
    border-radius: 0 0 5px 5px;
}

.showAllBtn {
    float: left;
    clear: both;
    background-color: rgb(204, 204, 204);
    border: none;
    border-radius: 12px;
    color: white;
    margin-top: 3px;
    /*padding: 2px 5px 5px 4px;*/
    padding: 0 0 0 0;
    outline: none;
}

.showAllEnabledBtn {
    background-color: rgb(88, 195, 229);
}

.showAllBtn span {
    vertical-align: middle !important;
    display: inline-block;
}

.showAllBtn img {
    vertical-align: middle !important;
    height: 14px;
    width: auto;
}

.showAllBtn:hover {
    background-color: #177dc0;
    cursor: pointer !important;
}

.showAllBtn:active:hover {
    background-color: #07558b;
    cursor: pointer !important;
}

.showAllBtn:disabled {
    background-color: #a39da6;
    cursor: default !important;
}

.showAllBtn:disabled:active {
    background-color: #a39da6;
    cursor: default !important;
}

.showAllLabel {
    display: inline-block;
    color: white;
    margin-left: 7px;
    margin-top: 2px;
    font-size: 0.95em;
    font-weight: bold;
    cursor: pointer !important;
}