.canvases {
    outline: none;
    height: 100px;
}

.canvases canvas {
    outline: none;
}

.bullets {
    text-align: justify;
    font-family: Arial, serif;
    font-size: 13px;
    margin: 20px 30px 0 0;
    width: 175px;
}

.bullets li {
    list-style-type: square;
    margin-top: 5px;
}