.objectInfoPanel {
    background-color: rgba(182, 232, 249, 0.8);
    border: 1px none;
    border-radius: 5px;
    position: relative;
    margin: 10px 0 -20px 5px;

    float: left;
    width: 100%; /* grows and shrinks with the parent */
    overflow: auto !important;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    transition: height 1s;
}

.objectInfoContent {
    padding: 10px;
}

.infoHeader {
    font-weight: bolder;
    font-size: medium;
}

.identifierLabel {
    float: left;
}

.identifierLink {
    margin-left: 3px;
}

.databaseObjectListPanel {
    margin-top: 7px;
}

.databaseObjectListTitle {
    font-weight: bolder;
    margin-top: 5px;
    background-color: rgba(165, 226, 249, 0.8);
}

.databaseObjectList {
    width: 100%;
    margin-left: 5px;
    max-height: 72px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;        /* Used to hide the scrollbars */
}

.listItem {
    height: 21px;
    width: 290px;
}

.listItemIcon {
    height: 12px;
    width: 12px;
    float: left;
}

.listItemLink {
    margin-left: 3px;
    float: left;
    max-width: 223px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.listItemButton {
    float: right;
    margin-right: 8px;
    background-color: transparent;
    border: none;
    border-radius: 9px;
    color: white;
    padding: 2px 0 0 0;
    outline: none;
    opacity: 0.7;
}

.listItemButton span {
    vertical-align: middle !important;
    display: inline-block;
}

.listItemButton img {
    height: 13px;
    width: auto;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.listItemButton:hover {
    cursor: pointer !important;
    opacity: 0.9;
}

.listItemButton:active:hover {
    cursor: pointer !important;
    opacity: 1;
}