.mainPanel {
    background-color: rgb(30, 148, 208);
    opacity: 0.8;
    width: 100%;
    overflow: auto !important;
    outline: none;

    font-family: Arial Unicode MS, Arial, sans-serif !important;
    font-size: small !important;
}

.leftBtn {
    background-color: rgb(88, 195, 229);
    border: none;
    border-radius: 12px;
    color: white;
    float: left;
    margin-left: 3px;
    margin-top: 5px;
    padding: 2px 5px 5px 4px;
    outline: none;
}

.leftBtn span {
    vertical-align: middle !important;
    display: inline-block;
}

.leftBtn img {
    vertical-align: middle !important;
    /*padding-right: 3px;*/
    height: 12px;
    width: auto;
}

.leftBtn:hover {
    background-color: #177dc0;
    cursor: pointer !important;
}

.leftBtn:active:hover {
    background-color: #07558b;
    cursor: pointer !important;
}

.leftBtn:disabled {
    background-color: #a39da6;
    cursor: default !important;
}

.leftBtn:disabled:active {
    background-color: #a39da6;
    cursor: default !important;
}

.rightBtn {
    background-color: rgb(88, 195, 229);
    border: none;
    border-radius: 12px;
    color: white;
    float: right;
    margin-right: 3px;
    margin-top: 5px;
    padding: 2px 4px 5px 5px;
    outline: none;
}

.rightBtn span {
    vertical-align: middle !important;
    display: inline-block;
}

.rightBtn img {
    vertical-align: middle !important;
    /*padding-right: 3px;*/
    height: 12px;
    width: auto;
}

.rightBtn:hover {
    background-color: #177dc0;
    cursor: pointer !important;
}

.rightBtn:active:hover {
    background-color: #07558b;
    cursor: pointer !important;
}

.rightBtn:disabled {
    background-color: #a39da6;
    cursor: default !important;
}

.rightBtn:disabled:active {
    background-color: #a39da6;
    cursor: default !important;
}

.label {
    color: white;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}